<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vitor.uva_analisador">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_riscos"
        android:label="UV - Assistant"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActUva">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActTelaRegistro"
            android:label="@string/title_activity_tela_registro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActTelaUsuarios1"
            android:label="@string/title_activity_act_tela_usuarios1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActDados"
            android:label="Data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActAjuda" />
        <activity android:name=".NotificaAct"></activity>
    </application>

</manifest>